$spacer: 20px;
$spacer-x: 20px;
$spacer-y: 20px;

$brand-primary-dark: #204051;
$brand-primary: #3b6978;
$brand-primary-light: #84a9ac;
$brand-dark: #343a40;

$nav-bordered-color:              #fff;
$nav-bordered-color-active:       $brand-primary;
$nav-bordered-font-weight:        400;
$nav-bordered-font-weight-active: 400;
